/* GENERAL RULES */
* {
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
  }
  
  html{
    scroll-behavior: smooth;
  }
  .orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }

  body {
    background-color: #fbebdc; /* Sets the background color of the page */
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding:10px;

  }

.topnav {
    overflow: hidden;
    background-color: #332f2b;
    position: relative;
    
    border-radius: 20px;
    border:6px solid #332f2b;
    width: 100%;
 }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    font-weight: 600;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #8d7c6c;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #b9a491;
    color: #333;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #8d7c6c;
    display: flex;
    letter-spacing:7PX;
    font-weight: 900;
  }



@media (max-width: 480px) {
  .topnav a {
    font-size: 20px;
    padding: 8px 10px;
  }


  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }


}
.arrow {
    text-decoration: none;
    color: #fbebdc;
    display: flex;
    justify-content: center; 
    align-items: center;
    bottom: 20px; 
    right: 20px; 
    font-size: 60px; 
    overflow: hidden;
    background-color: #332f2b;
    border-radius: 50%; 
    width: 63px; /* Ancho del botón */
    height: 63px; /* Alto del botón */
    text-align: center; 
    transition: background-color 0.3s, transform 0.3s; /* Agregamos la transición para el tamaño */
    position: fixed; 


}

.arrow:hover {
    transform: scale(0.9); /* Reduce el tamaño al 90% cuando el ratón está sobre la flecha */
}

.videos {
    display: grid; 
    gap: 20px; 
    justify-items: center; 
    align-items: center;
    border: 7px solid #332f2b;
    border-radius: 45px;
    padding: 20px;
    animation: fadeIn 0.8s ease backwards;
    width: 100%;
    max-width: 1000px; 
    background-color: #ddcab8;
    margin: 50px auto; 
}
.videos h1 {
    color: #332f2b;
    font-size: 45px;
    text-align: center; 
    margin-bottom: 20px; 
}

/* Estilo para los iframes (videos) */
.videos iframe {
    border-radius: 30px;
    border: 5px solid #332f2b;
    width: 100%; 
    max-width: 900px;
    height: 300px;
    display: block; 
    transition: transform 0.3s ease; /* Añade transición suave */

    margin: 40px auto;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 600px) {
    .videos {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
}
/* Animación al hacer hover sobre el iframe */
.videos iframe:hover {
    transform: scale(0.98); /* Achica el iframe al 95% de su tamaño */
}